<footer class="footer-area">
    <div class="container">
        <div class="pt-100 pb-75">
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-5 col-sm-12 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a routerLink="/">
<!--                                <img src="assets/images/logo.png" alt="logo">-->
                            </a>
                        </div>
                        <ul class="footer-contact-list">
                            <li>
                                <i class="ri-map-pin-line"></i>
                                <a href="https://goo.gl/maps/muUSCY6FnusqhrGK9" target="_blank">328 Queensberry Street, North Melbourne VIC</a>
                            </li>
                            <li>
                                <i class="ri-mail-line"></i>
                                <a href="mailto:hello@jend.com">hello@jend.com</a>
                            </li>
                            <li>
                                <i class="ri-phone-line"></i>
                                <a href="tel:+4471234567890">+44 4325 9878 5875</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-sm-6 col-md-6">
                    <div class="footer-widget">
                        <h3>For Employer</h3>
                        <ul class="footer-list">
                            <li>
                                <a routerLink="/candidates">
                                    Browse Candidates
                                </a>
                            </li>
                            <li>
                                <a routerLink="/">
                                    Employer Dashboard
                                </a>
                            </li>
                            <li>
                                <a routerLink="/job-listings">
                                    Job Packages
                                </a>
                            </li>
                            <li>
                                <a routerLink="/job-listings">
                                    Jobs Featured
                                </a>
                            </li>
                            <li>
                                <a routerLink="/post-a-job">
                                    Post A Job
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-md-4">
                    <div class="footer-widget ps-5">
                        <h3>For Candidates</h3>
                        <ul class="footer-list">
                            <li>
                                <a routerLink="/job-listings">
                                    Browse Jobs
                                </a>
                            </li>
                            <li>
                                <a routerLink="/">
                                    Submit Resume
                                </a>
                            </li>
                            <li>
                                <a routerLink="/">
                                    Candidate Dashboard
                                </a>
                            </li>
                            <li>
                                <a routerLink="/job-listings">
                                    Browse Categories
                                </a>
                            </li>
                            <li>
                                <a routerLink="/candidates">
                                    Candidates Listing
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 col-md-4">
                    <div class="footer-widget">
                        <h3>Company</h3>
                        <ul class="footer-list">
                            <li>
                                <a routerLink="/about">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a routerLink="/contact">
                                    Contact Us
                                </a>
                            </li>
                            <li>
                                <a routerLink="/terms-condition">
                                    Terms & Conditions
                                </a>
                            </li>
                            <li>
                                <a routerLink="/privacy-policy">
                                    Privacy Policy
                                </a>
                            </li>
                            <li>
                                <a routerLink="/">
                                    Sitemap
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 col-md-4">
                    <div class="footer-widget">
                        <h3>Quick Links</h3>
                        <ul class="footer-list">
                            <li>
                                <a routerLink="/about">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a routerLink="/blog">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a routerLink="/faq">
                                    FAQs
                                </a>
                            </li>
                            <li>
                                <a routerLink="/contact">
                                    Contact Us
                                </a>
                            </li>
                            <li>
                                <a routerLink="/not-found">
                                    404 Erro Page
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7">
                    <div class="copy-right-text">
<!--                        <p>© Jend is Proudly Owned by <a href="https://hibotheme.com/" target="_blank">HiboTheme</a></p>-->
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="copy-right-social-link">
                        <ul class="social-link">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="ri-instagram-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="ri-linkedin-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
